<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>STOCK BARANG</title>
    <!-- Muatkan file CSS disini -->
    <link rel="stylesheet" href="/css/style.css">
    
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">Aplikasi daftar persediaan barang</h2>
        <h1 class="title">Drizzle Box</h1>
        <p class="description">
          Aplikasi ini dapat membantu pemilik toko untuk menulis persediaan barang tokonya.
          <br>
          Tambahkan barang yang Anda inginkan kapanpun, dimanapun secara mudah.
        </p>
        <a href="/index" class="index-button">Lihat stock barang</a>
      </div>
      <div class="top-image">
        <!-- Muatkan file gambar disini -->
        <img src="/images/logo1.png">
        
      </div>
    </div>
  </body>
</html>